@model IEnumerable<Blue_Ribbon.ViewModels.ProductSortViewModel>


@{
    ViewBag.Title = "Home Page";
}

@* Form submission information *@
<div>
    @ViewBag.SellerContactForm
</div>

<!--TOP ROW-->

<div class="row introw">
    <div class="col-md-9" id="introw-left">
        <img src="/images/br_logo_gold.png" />
        <ul>
            <li>The best online deals!</li>
            <li>Buy products for 70% off or more.</li>
        </ul>
    </div>

    <div class="col-md-3 text-center">
        @*Right Side Panel for YouTube, Google Adsence, Refer a Friend*@
        <div id="homeSidePanel" class="row">
            <!--YouTube Video Play-->
            <div class="YoutubeVideo-show">
                <iframe width="300" height="290" src="https://www.youtube.com/embed/pzzGJDEHCiM" frameborder="0" allowfullscreen></iframe>
                <a data-toggle="modal" data-target="#Show-YouTube-Video" onclick="stopYouTubeVideo()"><div id="Overlay-YouTube"></div></a>
                <br />
                <div>
                    <a href="https://www.learncodinganywhere.com/">
                    <img width="300" height="175" src="~/images/Tech Academy Logo.png" />
                    </a>
                </div>
                <br />
                <br />
                <br />
                <a action="ReferFriend">
                    @Html.ActionLink("Refer A Friend", "ReferFriend", "Home", null, new { @class = "btn btn-default btn-lg home-panels-1" })
                </a>

            </div>

            @* Gooogle adsence *@

            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:inline-block;width:275px;height: 25px"
                 data-ad-client="ca-pub-1524018425206622"
                 data-ad-slot="4080380592"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            @* End Gooogle adsence *@
        </div>
    </div>
</div>

<!--How It Works Section-->
<div class="row" id="container-howitworks">
    <div class="howto">
        <h1 id="howitworks-h2">How It Works</h1>
        <h2 id="howitworks-h2">It's As Easy As 1, 2 and 3</h2>
        <div class="col-md-4 howto-script" id="step1">
            <section id="howto-sectop">
                <h2><img src="~/images/hpbr1.png" id="features-rbn" />Login or Register</h2>
                <p>Simply create an account with us and go to the “Deals” page to start saving!  It’s as simple as that and if you ever have questions feel free to e-mail us at support@blueribbonsreview.com.</p>
                @*<p>You can login to our page, or you can sign up and register for a new account to become a member.</p>*@
            </section>
        </div>
        <div class="col-md-4 howto-script" id="step2">
            <section id="howto-sectop">
                <h2><img src="~/images/hpbr2.png" id="features-rbn" />Find a Deal</h2>
                <p>We love getting you the best deals on the internet and, more importantly, we love finding those items that you would never have found yourself!  Like any good deals site we provide top quality products at low prices.  However, what sets us apart is our drive and desire to find actually useful items that you and your family need!</p>
                @*<p>Choose a product from our selection of great deals of 70% off or more!</p>*@
            </section>
        </div>
        <div class="col-md-4 howto-script" id="step3">
            <section id="howto-sectop">
                <h2><img src="~/images/hpbr3.png" id="features-rbn" />Buy the Product</h2>
                <p>
                    From baby products to kitchen utensils we scour some of the top websites on the internet to bring you the hottest deals and let you to save money while having fun shopping!  Deals range from 70% all the way to 100% and we always encourage you to tell us what you’d like to see more of.

                </p>
            </section>
        </div>
    </div>
    <div class="services">
        <h1 id="howitworks-h2">Our Services</h1>
        <div class="col-md-4" id="step1">
            <section id="howto-secBttm">
                <h3>Shop Our Deals</h3>
                <img id="img-services" src="~/images/go_shopping1.jpg" alt="HTML5" />
                <p>
                    We understand that you are looking for a product that fits your needs,
                    that is why Blue Ribbons Review provides a service that guarantees reliable
                    information for any product that you are looking for at a great deal!
                </p>
                <p id="features-btn">
                    @Html.ActionLink("Browse Current Deals", "Index", "Product", null, new { @class = "btn btn-default btn-lg home-panels-1" })
                </p>
            </section>
        </div>
        <div class="col-md-4" id="step2">
            <section id="howto-secBttm">
                <h3>Request our Products</h3>
                <img id="img-services" src="~/images/your-product.jpg" alt="HTML5" />
                <p>
                    At Blue Ribbons Review, we are always open to any suggestions of products that you and your family need and want.
                </p>
                <p id="features-btn">
                    @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "btn btn-default btn-lg home-panels-1" })
                </p>
            </section>
        </div>
        <div class="col-md-4" id="step3">
            <section id="howto-secBttm">
                <h3>Contact Us</h3>
                <img id="img-services" src="~/images/contactUS.jpg" alt="HTML5" />
                <p>
                    With any question, clarification, concern and additional information that you want to ask and know about us,
                    we are happy to help you.
                    Contact us today!
                </p>
                <p id="features-btn">
                    @Html.ActionLink("See Contact Page", "Contact", "Home", null, new { @class = "btn btn-default btn-lg home-panels-1" })
                </p>
            </section>
        </div>
    </div>
</div>
<!---Scroller-->
<div class="row">
    <div id="scroller" class="col-md-12" style="height: 360px; margin: 0 auto;">
        <div class="innerScrollArea">
            <ul>
                @* Url.Action submits a link to an action result of an action within a controller.
                    Object route values are also allowed to be passed.  The below variables must be exactly the
                    same spelling as the variables accepted by the ActionResult to be passed properly *@
                <li>
                    <a href="@Url.Action("Index","Product", new { catSort = "toys"})">
                        <img src="~/images/scrollerToys.jpg" />
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index","Product", new { catSort = "clothing"})">
                        <img src="~/images/scrollerClothes.jpg" />
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index","Product", new { catSort = "entertainment"})">
                        <img src="~/images/scrollerEntertainment.jpg" />
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index","Product", new { catSort = "auto"})">
                        <img src="~/images/scrollerAuto.jpg" />
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index","Product", new { catSort = "baby products"})">
                        <img src="~/images/scrollerBaby.jpg" />
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index","Product", new { catSort = "electronics"})">
                        <img src="~/images/scrollerElectronics.jpg" />
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Product", new { catSort = "All"})">
                        <img src="~/images/scrollerMore.jpg" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--End Scroller-->



<div>
    <h2>
        @*its only temp but works*@
        <center>Newly Arrived Products:</center>
    </h2>
</div>
<div class="row">
    <!--Line of Products Section-->
    @foreach (var item in Model)
    {
        <div id="productBox@(item.ASIN)" class="grow productitem col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body productbox">
                    <a data-target="#@item.ASIN" role="button" data-toggle="modal">
                        <div class="productimagebox">
                            <img src=@item.ImageUrl />
                        </div>
                        @*<hr class="category-top" />*@
                        @*<div class="category">
                                @item.Category
                            </div>*@
                        <hr class="category-bottom" />
                        <div class="itemtitle">
                            <h6>
                                @Html.DisplayFor(modelItem => item.Name)
                            </h6>
                        </div>
                        @if (item.displayMSRP == true)
                        {
                            <h1 class="specialprice ">
                                <del>
                                    @if (item.displayMSRP == true)
                                {@item.displayAsCurrency(item.OriginalPriceNumerical)}
                            </del>
                        </h1>
                            <p class="productdiscount">
                                @(Math.Ceiling(Math.Abs(item.CalculatedDiscount / item.OriginalPriceNumerical) * 100))% off
                            </p>
                        }
                        else
                        {
                            <div style="visibility: hidden">
                                <h1 class="specialprice ">
                                    <del>@item.displayAsCurrency(item.OriginalPriceNumerical)</del>
                                </h1>
                                <p class="productdiscount">
                                    @(Math.Ceiling(Math.Abs(item.CalculatedDiscount / item.OriginalPriceNumerical) * 100))%
                                </p>
                            </div>
                        }

                        <h2>
                            @item.displayAsCurrency(double.Parse(item.RetailPrice))
                        </h2>
                    </a>
                    @* Hidden modal until item is clicked *@
                    <div class="modal fade" id="@item.ASIN">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal">&times;</button>
                                    <h4>@item.Name</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12 ">

                                            <img class="modal-img" src=@item.ImageUrl />
                                            @if (item.requiredHTML != "")
                                            {
                                                @Html.Raw(item.requiredHTML)
                                            }
                                        </div>
                                        <div class="col-md-8 col-sm-12">
                                            <p>
                                                <h1 class="specialprice">
                                                    Retail Price
                                                    @item.displayAsCurrency(double.Parse(item.RetailPrice))
                                                </h1>
                                                <hr />
                                            </p>
                                            @if (User.Identity.IsAuthenticated == false)
                                            {
                                                <div>
                                                    <p>
                                                        To request this deal, please login:
                                                    </p>
                                                    <p>
                                                        @Html.ActionLink("Login Page", "Login", "Account", null, htmlAttributes: new { @class = "btn btn-warning" })
                                                    </p>

                                                </div>
                                            }
                                            else
                                            {
                                                <div class="reviewform" id="@String.Concat(@item.ASIN, "Form")">
                                                    @using (Html.BeginForm("SubmitRequest", "Deals", FormMethod.Post))
                                                    {
                                                        <input type="hidden" id="@String.Concat(@item.ASIN, "userid")" class="start" value="@User.Identity.Name" />
                                                        <input type="hidden" id="@String.Concat(@item.ASIN, "dealid")" value="@item.DealID" />
                                                        {
                                                            <a href="@item.GetVendorsUrl" target="_blank" class="btn btn-primary" style="align-content:center">Get Deal Now! <span class="glyphicon glyphicon-new-window"></span></a>

                                                        }

                                                    }
                                                </div>
                                                <div class="formmessage" id="@String.Concat(@item.ASIN, "FormMessage")">
                                                    <hr />
                                                    <div class="alert alert-success" role="alert" id="@String.Concat(@item.ASIN, "Alert")"></div>
                                                </div>
                                            }
                                            <hr style="clear:both" />
                                            <h2>Description</h2>
                                            <p>
                                                @item.Description
                                            </p>
                                            <p>
                                                @item.VendorsPurchaseInstructions
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    @*Customer asked to keep link of modal to prevent too many visitors to product page resulting in poor conversion rate.*@
                                    @*<a href="@item.GetVendorsUrl" target="_blank" class="btn btn-default btn-view-amazon pull-right" style="align-content:center">Get Deal Now! <span class="glyphicon glyphicon-new-window"></span></a>*@
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>




        <style type="text/css">
            #footer-padding {
                display: none;
            }
        </style>

    }
</div>


<div id="homeSidePanel" style="margin-bottom: 45px;">
    <a href="/Product"><center><button type="button">Click Here For Great Deals</button></center></a>
</div>






@*video 7/6*@
<script type="text/javascript">
    function stopYouTubeVideo() {
        document.getElementById("intro-video").setAttribute("src", "http://www.youtube.com/embed/Cfcv7dWiPyM");
    }
    function RequestAfriend() {
        window.open("Home/ReferFriend", "New Friend", 'width=675, height=530, left=75, top=75, menubar=no, status=no');
    }
</script>
@section Scripts{
    <script>
        if ($(window).width() > 990) {
            $(document).ready(function () {
                $(".howto-script").hover(function () {
                    $(this).css("border", "3px double white");
                    $(this).css('border-radius', '50px');
                }, function () {
                    $(this).css("border", "unset");
                });
            });
        }
    </script>

    @*Social Buttons on this page*@
    <script src="@Url.Content("~/Scripts/SocialInit.js")"></script>
    <script>
        $(document).ready(function () {
            $(window).trigger('resize');
        });
    </script>

    @*Scroller*@
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var scroller = $('#scroller div.innerScrollArea');
            var scrollerContent = scroller.children('ul');
            scrollerContent.children().clone().appendTo(scrollerContent);
            var curX = 0;
            scrollerContent.children().each(function () {
                var $this = $(this);
                $this.css('left', curX);
                curX += 640;
            });
            var fullW = curX / 2;
            var viewportW = scroller.width();

            @*Scrolling speed management*@
            var controller = { curSpeed: 0, fullSpeed: 1 };
            var $controller = $(controller);
            var tweenToNewSpeed = function (newSpeed, duration) {
                if (duration === undefined)
                    duration = 600;
                $controller.stop(true).animate({ curSpeed: newSpeed }, duration);
            };

            @*Pause on hover*@
            scroller.hover(function () {
                tweenToNewSpeed(0);
            }, function () {
                tweenToNewSpeed(controller.fullSpeed);
            });

            @*Scrolling management; start the automatical scrolling*@
            var doScroll = function () {
                var curX = scroller.scrollLeft();
                var newX = curX + controller.curSpeed;
                if (newX > fullW * 2 - viewportW)
                    newX -= fullW;
                scroller.scrollLeft(newX);
            };
            setInterval(doScroll, 20);
            tweenToNewSpeed(controller.fullSpeed);
        });
    </script>

    @*Etsy affiliate link converter*@
    <script src="https://www.dwin2.com/pub.309967.min.js"></script>
}