@model  Blue_Ribbon.Models.Customer
@{

    ViewBag.Title = "Dashboard";
    ViewBag.Name = Model.FullName;
    ViewBag.Email = Model.Email;
}

<!-- Customer Dashboard page-->
<!-- Model: Customer Model
    - Customer,
      Review,
      ItemRequest,
      Campaign,
      TODO: ReviewLog? -->
<!-- Customer.FullName,
     Customer.Email,
     Reviews.Count, TODO: ReviewLog.Count?
     Review.SelectedDate,
     Review.DiscountCode,
     Review.ProductRating,
     Review.ReviewLink,
     Campaign.ItemURL,
     Campaign.ASIN,
     Campaign.Name
     Campaign.GetVendorURL,
     Campaign.GetAmazonURL,
     Campaign.displayAsCurrency,
     Campaign.SalePriceNumerical,
     ItemRequest.ActiveRequest,
     ItemRequest.ItemRequestID,
     ItemRequest.RequestDate

    -->
<!-- TODO: Map ReviewLog to Customer model,
     TODO: add-migration for Customer model,
     TODO: Map ReviewLog to this page & create 2 new tabs for BRR local reviews
    -->

<div class="mainContent text-center">
    <div class="product-top col-md-6 col-lg-12 text-center">
        <!-- NEW: Moved eBay ad to the top-->
        <a href='http://rover.ebay.com/rover/1/711-53200-19255-17/1?campid=5337984798&toolid=711532001925517&customid=&mpvc='>
            <img id="dashimg" src='http://rover.ebay.com/ar/1/711-53200-19255-17/1?campid=5337984798&toolid=711532001925517&customid=&mpt=[CACHEBUSTER]&adtype=1&size=728x90&mpvc=' alt='Click Here'>
        </a>
        <h3>Welcome @Model.FullName! - Your Dashboard</h3>
        <!-- NEW: Added how many pending reviews customer has-->
        @*<h4>You have @Model.Reviews.Count pending reviews</h4>*@
        
        @*<h5>The holidays are right around the corner! Give the gift of eBay</h5>*@

        @*<p>Amazon Profile ID: @User.Identity.Name</p>*@
        @*<strong>@Html.ActionLink("Reviewer Guide", "Welcome", "Dashboard", new { @class = "btn btn-primary" })</strong>*@
        @*<a data-target="#help-modal" role="button" data-toggle="modal" id="help-modal-button" class="btn btn-default">Contact Help Desk</a>
            <div class="modal fade" id="help-modal">
                <div class="modal-dialog help-modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                            <h4>Contact Help Desk</h4>
                        </div>
                        <div class="modal-body" style="color:#444">
                            <div id="helpform">
                                @Html.Action("GetFormPartial", new { email = Model.Email, name = Model.FullName })
                            </div>
                            <div id="loadingmessage">
                                Sending Message - Please Wait: <img src='~/images/loading.gif' />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" id="contactformsubmit">Send Message</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        </div>
                    </div>

                </div>
            </div>*@
    </div>
</div>

<!-- Tabs Bar
    TODO: Add new tabs for new internal BRR Reviews section -->
<div class="col-xs-12 col-sm-12 col-lg-12 text-center">
    <ul class="nav nav-tabs row" role="tablist">
        <li role="presentation" class="active"><a href="#MyDeals" aria-controls="MyDeals" role="tab" data-toggle="tab">Deals I Scored!</a></li>
        <li role="presentation"><a href="#MyReviews" aria-controls="MyReviews" role="tab" data-toggle="tab">Deals I Reviewed!</a></li>
        <li role="presentation"><a href="#MyRequests" aria-controls="MyRequests" role="tab" data-toggle="tab">Requested Deals</a></li>
        <!-- NEW Tabs: Internal BRR Reviews Tabs-->
        <li role="presentation"><a href="#MyBRRDeals" aria-controls="MyBRRDeals" role="tab" data-toggle="tab">BRR Deals</a></li>
        <li role="presentation"><a href="#MyBRRReviews" aria-controls="MyBRRReviews" role="tab" data-toggle="tab">BRR Reviews</a></li>
    </ul>

    <!-- Div for Entire Tabs Content -->
    <div class="tab-content">

        <!-- Tab 1: "MyDeals", Deals I Scored-->
        <div role="tabpanel" class="tab-pane fade in active" id="MyDeals">
            <div class="alert alert-warning review-alert row" id="dash-content" role="alert">
                <div class="col-xs-12 dashboard-tab-description">
                    Any deal you receive through Blue Ribbons will be listed here if you haven't reviewed it. If you loved the item, we certainly encourage you to
                    write a review and let other people know what you thought!
                </div>
            </div>

            <!-- If Review for a deal is overdue, display item here-->
            @foreach (var item in Model.Reviews)
            {
                var overdue = DateTime.Compare(item.DueDate, DateTime.Now.Date);
                if (item.Reviewed == false)
                {
            <!-- Column 1: ImageURL + ASIN -->
                    <div class="row dashOpenItem">
                        <div class="col-md-2 col-xs-3 text-center">
                            <img src=@item.Campaign.ImageUrl class="dashboardRowImage" /><br />
                            Item# <b>@item.Campaign.ASIN</b>
                        </div>
                        <div class="col-md-6 col-xs-5">
                            @*@if (!string.IsNullOrEmpty(item.CustomerAlert))
                                {
                                <div class="row">
                                    <div class="alert alert-danger">
                                        @item.CustomerAlert
                                    </div>
                                </div>
                                }*@
                            <!-- Column 2: Item's Name + SelectedDate(DateCodeGiven) + item's DiscountCode
                                item.Campaign.Name
                                item.SelectedDate(from Review Model)-->
                            <div class="row text-center">
                                <b>@item.Campaign.Name</b>
                            </div>
                            <hr />
                            <div class="row">
                                Your received deal on: @item.SelectedDate.ToShortDateString()
                                @*@if (overdue <= 0)
                                    { <span class="overdue">   REVIEW OVERDUE!</span>
                                    }*@
                            </div>
                            <div class="row">
                                @if (item.DiscountCode == null)
                                {

                                    <span class="discountcode">
                                        Discount Code:<span class="codedisplay">   Not Available: Please check later.</span>
                                    </span>

                                }
                                else
                                {
                                    <p class="discountcode">
                                        Use Discount Code:<span class="codedisplay">   @item.DiscountCode</span>
                                    </p>
                                }
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-1">

                        </div>
                        <!-- Column 3: Link to purchase item (Amazon) + Link to review item (Amazon)
                            item.Campaign.GetVendorsURL
                            item.Campaign.AmazonURL-->
                        <div class="col-md-3 col-xs-2">
                            <div class="row">
                                <p>
                                    @if (!String.IsNullOrEmpty(item.Campaign.VendorsPurchaseURL))
                                    {
                                        <a href="@item.Campaign.GetVendorsUrl" target="_blank" class="btn btn-success" style="align-content:center; white-space:normal;">Purchase on Amazon.com! <span class="glyphicon glyphicon-new-window"></span></a>
                                    }
                                    else
                                    {
                                        <a href="@item.Campaign.AmazonUrl" target="_blank" class="btn btn-success" style="align-content:center; white-space:normal;">Purchase on Amazon.com! <span class="glyphicon glyphicon-new-window"></span></a>
                                    }
                                </p>

                            </div>
                            <div class="row">
                                <p>
                                    <a href="@item.Campaign.AmazonUrl#summaryStars" target="_blank" class="btn btn-primary" style="align-content:center; white-space:normal;">Write Review on Amazon.com! <span class="glyphicon glyphicon-new-window"></span></a>
                                </p>
                            </div>

                            @*Not using manual check form*@
                            @*<div class="row">
                                    <a data-target="#@item.ReviewID" role="button" data-toggle="modal" class="btn btn-default" style="align-content:center; white-space:normal;">I've reviewed this item already!</a>
                                    <div class="modal fade" id="@item.ReviewID">
                                        <div class="modal-dialog help-modal">
                                            <div class="modal-content">
                                                <div class="modal-body" style="color:#444">
                                                    <div class="row">

                                                        <div class="col-sm-12">
                                                            <h3>How do I find my review link?</h3>
                                                            <ol>
                                                                <li>
                                                                    Go to <a href="@item.Customer.generateURL()" target="_blank">Your Reviews on Amazon.</a>
                                                                </li>
                                                                <li>
                                                                    Find your review and click on the "Permalink". (see photo below for example):
                                                                    <img src="~/images/permalinkExample.png" id="checkReviewFormImage" />
                                                                </li>
                                                                <li>
                                                                    Your review link will be in address bar. Copy it it and paste it in the box below.
                                                                </li>
                                                            </ol>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <div class="alert alert-danger">
                                                                <b>After you've written your review, please wait at least 12 hours before using this form.</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @using (@Html.BeginForm("ReviewCheckForm", "Dashboard", FormMethod.Post, new { @class = "ReviewCheckForm", @id = @String.Concat(@item.ReviewID, "ReviewCheckForm") }))
                                                    {
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <div class="col-md-3">
                                                                Amazon link of your review:
                                                            </div>
                                                            <div class="col-md-9">
                                                                @Html.TextBox("reviewlink", null, new { @placeholder = "example: https://www.amazon.com/review/R2QA941K50R7MF", @class = "reviewUrlTextBox", @id = @String.Concat(@item.ReviewID, "ReviewCheckURL") })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    }

                                                    <div id="@String.Concat(@item.ReviewID, " loading")" class="reviewCheckLoading">
                                                        Confirming Review - Please Wait: <img src='~/images/loading.gif' class="" />
                                                    </div>
                                                    <div id="@String.Concat(@item.ReviewID, " failed")" class="reviewCheckFailed" hidden>
                                                        <p>Our automated system isn't perfect though:</p>
                                                        <ul>
                                                            <li>
                                                                Double-check the link you entered.
                                                            </li>
                                                            <li>
                                                                If you've just reviewed the item, it may take a while until this checker will be able to find it.
                                                            </li>
                                                            <li>
                                                                If you write a lot of reviews every day, then we recommend visiting your dashboard right after you write reviews for our products. It makes it easier for us
                                                                to find your reviews automatically without you having to use this form.
                                                            </li>
                                                            <li>
                                                                If you're certain this review link is correct, click the button to have it sent to our team for review. <br />
                                                                <button type="button" class="btn btn-warning btn-sm manualReviewSubmit" id="@String.Concat(@item.ReviewID, " ManualReview")">Request manual review.</button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success reviewCheckSubmit" id="@String.Concat(@item.ReviewID, " ReviewSubmit")">Confirm Review Now</button>
                                                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>*@

                        </div>
                    </div>
                    <hr />
                }

            }

        </div>

        <!-- Tab 2: "MyReviews", Items I Reviewed-->
        <div role="tabpanel" class="tab-pane fade" id="MyReviews">
            <div class="alert alert-success review-alert row" id="dash-content" role="alert">
                <div class="col-xs-12 dashboard-tab-description">
                    If you reviewed a deal you got through Blue Ribbons, it will list the item here with a link to the item on Amazon and your review!
                </div>
            </div>
            <!-- If item was reviewed, display item here-->
            @foreach (var item in Model.Reviews)
            {
                if (item.Reviewed == true)
                {
            <!-- Column Left: ImageURL + ASIN-->
                    <div class="row dashOpenItem">
                        <div class="col-md-2 col-xs-3 text-center">
                            <img src=@item.Campaign.ImageUrl class="dashboardRowImage" /><br />
                            Item# <b>@item.Campaign.ASIN</b>
                        </div>
                        <!-- Column Center: Item's name, SelectedDate, ReviewDate, Rating-->
                        <div class="col-md-6 col-xs-5">
                            <div class="row text-center">
                                <b>@item.Campaign.Name</b>
                            </div>
                            <hr />
                            <div class="row">
                                Deal scored on: @item.SelectedDate.ToShortDateString()<br />
                                Review Date: @item.ReviewDate.Value.ToShortDateString()<br />
                                Your Rating:
                                @if (item.ProductRating == 0)
                                {
                                    <text>unavailable</text>
                                }
                                else
                                {
                                    for (int x = 0; x < item.ProductRating; x++)
                                    {<span class="glyphicon glyphicon-star"></span>}
                                }
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-1">

                        </div>
                        <!-- Link to purchase item (Amazon), Link to view review(Amazon)-->
                        <div class="col-md-3 col-xs-2">
                            <div class="row">
                                <p>
                                    @if (!String.IsNullOrEmpty(item.Campaign.VendorsPurchaseURL))
                                    {
                                        <a href="@item.Campaign.GetVendorsUrl" target="_blank" class="btn btn-success" style="align-content:center; white-space:normal;">Buy again on Amazon.com! <span class="glyphicon glyphicon-new-window"></span></a>
                                    }
                                    else
                                    {
                                        <a href="@item.Campaign.AmazonUrl" target="_blank" class="btn btn-success" style="align-content:center; white-space:normal;">Buy again on Amazon.com! <span class="glyphicon glyphicon-new-window"></span></a>
                                    }
                                </p>

                            </div>
                            <div class="row">
                                <p>
                                    <a href="@item.ReviewLink" target="_blank" class="btn btn-primary" style="align-content:center; white-space:normal;">Your review on Amazon.com! <span class="glyphicon glyphicon-new-window"></span></a>
                                </p>
                            </div>

                        </div>
                    </div>
                    <hr />
                }
            }
        </div>

        <!-- Tab 3: "MyRequests", Deals I Requested -->
        <div role="tabpanel" class="tab-pane fade" id="MyRequests">
            <div class="alert alert-info review-alert row" id="dash-content" role="alert">
                <div class="col-xs-12 dashboard-tab-description">
                    When you request a deal, you'll see it listed here. If you have been selected to receive the deal, you'll see the item under the
                    "Deals I Scored!" tab and it will be removed from here. If you are not selected for that particular deal, it will be
                    completely removed.
                </div>
            </div>

            <!-- If a Deal was requested, display here-->
            @foreach (var item in Model.Requests)
            {
                if (item.ActiveRequest == true)
                {
            <!-- Column Left: ImageURL + ASIN-->
                    <div class="row dashOpenItem" id="@String.Concat(@item.ItemRequestID, " RequestBox")">
                        <div class="col-md-2 col-xs-3 text-center">
                            <img src=@item.Campaign.ImageUrl class="dashboardRowImage" /><br />
                            Item# <b>@item.Campaign.ASIN</b>
                        </div>
                        <!-- Column Center: Item's name, SelectedDate, ReviewDate, Rating-->
                        <div class="col-md-6 col-xs-5">
                            <div class="row text-center">
                                <b>@item.Campaign.Name</b>
                            </div>
                            <hr />
                            <div class="row">
                                Requested Date: @item.RequestDate.ToShortDateString()<br />
                                Item Price: @item.Campaign.displayAsCurrency(item.Campaign.SalePriceNumerical)
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-1">

                        </div>
                        <!-- Links to view & purchase item (Amazon)-->
                        <div class="col-md-3 col-xs-2">
                            <div class="row">
                                <p>
                                    @if (!String.IsNullOrEmpty(item.Campaign.VendorsPurchaseURL))
                                    {
                                        <a href="@item.Campaign.GetVendorsUrl" target="_blank" class="btn btn-success" style="align-content:center; white-space:normal;">See item on Amazon.com! <span class="glyphicon glyphicon-new-window"></span></a>
                                    }
                                    else
                                    {
                                        <a href="@item.Campaign.AmazonUrl" target="_blank" class="btn btn-success" style="align-content:center; white-space:normal;">See item on Amazon.com! <span class="glyphicon glyphicon-new-window"></span></a>
                                    }
                                </p>
                                <p id="@String.Concat(@item.ItemRequestID, " ErrorAlert")">
                                    <button type="button" class="btn btn-default btn-sm itemRequestCancel" id="@String.Concat(@item.ItemRequestID, " Request")">Cancel deal request.</button>

                                </p>

                            </div>

                        </div>
                    </div>
                    <hr id="@String.Concat(@item.ItemRequestID, " RequestHR")" />
                }
            }
        </div>

        <!-- NEW Blue Ribbons local reviews!!-->
        <!-- Tab 4: "BRRDeals"Internal BRR Items to Review Tab -->
        <div role="tabpanel" class="tab-pane fade" id="MyBRRDeals">
            <div class="alert alert-warning review-alert row" id="dash-content" role="alert">
                <div class="col-xs-12 dashboard-tab-description">
                    Any deal you receive through Blue Ribbons will be listed here if you haven't reviewed it.
                    If you loved the item, we certainly encourage you to write a review here
                    and let other people know what you thought!
                </div>
            </div>
            <!-- Display Partial View ItemsToReview here-->
            <div>
                @Html.Action("ItemsToReview");
            </div>
        
        </div>

        <!-- Tab 5: "BRRReviews" Internal BRR Reviews Tab -->
        <div role="tabpanel" class="tab-pane fade" id="MyBRRReviews">
            <div class="alert alert-success review-alert row" id="dash-content" role="alert">
                <div class="col-xs-12 dashboard-tab-description">
                    If you reviewed a deal you got through Blue Ribbons on this website,
                    it will list the item here with a link to your review!
                </div>
            </div>
            <!-- Display Partial View InHouseReviews here-->
            <div>
                @Html.Action("InHouseReviews");
            </div>
        </div>

        <!-- AD Boutique-->
        <!-- Please implement your own CacheBuster for accurate impression tracking  -->
        <a href='http://rover.ebay.com/rover/1/711-53200-19255-393/1?campid=5337984798&toolid=7115320019255393&customid=&mpvc='>
            <img id="dashbottomimg" src='http://rover.ebay.com/ar/1/711-53200-19255-393/1?campid=5337984798&toolid=7115320019255393&customid=&mpt=[CACHEBUSTER]&adtype=1&size=728x90&mpvc=' alt='Click Here'>
        </a>
        <br />
        <br />
        <br />

    </div>

    <style type="text/css">
        #footer-padding {
            display: none;
        }
    </style>

</div>
@*<div class="recommended-items">
        <h3 class="glyphicon glyphicon-dashboard-title">Recommended Items: @Html.ActionLink("View More Products To Review", "Index", "Campaign", null, new { @class = "btn btn-default recommended-button" })</h3>
        <div>
            @Html.Action("Carousel");
        </div>
    </div>*@





@section Scripts{

    @*Social Buttons on this page*@
    <script src="@Url.Content(" ~/Scripts/SocialInit.js")"></script>
}
